@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
a, p, label {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #ffffff;
  margin: 0;
}

.reg-conf-container {
  margin-top: 150px;
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1A1A1A;
  padding: 50px;
  border-radius: 20px;
}
.reg-conf-container .main-title {
  text-align: center;
}
.reg-conf-container p {
  margin-top: 20px;
  font-size: 20px;
}
.reg-conf-container p .confirm-link {
  color: #FCA311;
}

@media only screen and (max-width: 768px) {
  .reg-conf-container {
    width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .reg-conf-container .main-title {
    font-size: 24px;
  }
  .reg-conf-container p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .reg-conf-container {
    width: 90%;
  }
}
