@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>tracking</title>
    <!-- bootstrap -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <!-- styles -->
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/common/footer-styles.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <header class="topbar container-fluid ">
            <a asp-controller="Landing" asp-action="Index" class="logo-text text-decoration-none"><h1>tracker</h1></a>
            <div class="nav-right-btns">
                <a asp-area="Identity" asp-page="/Account/Login" class="a-login-link link text-decoration-none">
                    <h3>Login</h3>
                </a>
                <button class="btn-reg">
                    <a asp-area="Identity" asp-page="/Account/Register" class="link text-decoration-none">
                        <h3>Registration</h3>
                    </a>
                </button>
            </div>
        </header>
        <div class="title-container container">
            <div class="title-text-main">
                <h1>
                    Track watched movies<br />Save planned ones
                </h1>
                <h6 class="title-h6-text">
                    Movie tracker with a minimalist design
                </h6>
                <button class="btn-reg">
                    <a asp-area="Identity" asp-page="/Account/Register" class="link">
                        <h3>Register</h3>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="about-us-full container">
        <div class="about-us">
            <h6>Why us?</h6>
            <hr />
            <div class="about-us-containers">
                <div class="about-us-component">
                    <span class="icon">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <div class="text">
                        <p>Save every watched movie</p>
                    </div>
                </div>
                <div class="about-us-component">
                    <span class="icon">
                        <i class="fa-solid fa-heart"></i>
                    </span>
                    <div class="text">
                        <p>Add movies to favourite</p>
                    </div>
                </div>
                <div class="about-us-component">
                    <span class="icon">
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <div class="text">
                        <p>Rate on a 5-star scale</p>
                    </div>
                </div>
                <div class="about-us-component">
                    <span class="icon">
                        <i class="fa-solid fa-list"></i>
                    </span>
                    <div class="text">
                        <p>View your personal statistics</p>
                    </div>
                </div>
                <div class="about-us-component">
                    <div class="icon">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="text">
                        <p>Don't miss new releases</p>
                    </div>
                </div>
                <div class="about-us-component">
                    <span class="icon">
                        <i class="fa-solid fa-bookmark"></i>
                    </span>
                    <div class="text">
                        <p>Save films for future viewing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how-works-full container">
        <div class="how-works">
            <h6>How exactly does it work?</h6>
            <hr />
            <div class="how-works-component">
                <div class="text">
                    <p>
                        Start by watching popular movies and find some movies you've already seen there. 
                        Click on the eye symbol on the poster of these films - this way you will add the film 
                        to <b> watched </b>. If you like this movie, add it to your <b> favorites </b> - click 
                        the heart symbol. Also, if you point to a movie, you can choose a rating. If you want 
                        to save the movie for later, click the bookmark symbol, and then you can find it in the profile.
                    </p>
                </div>
                <div class="poster-right">
                    <div class="poster-block">
                        <img src="~/img/western-front.jpg">
                        <div class="icons-block">
                            <div class="icons">
                                <i class="fa-solid fa-eye"></i>
                                <i class="fa-solid fa-heart"></i>
                                <i class="fa-solid fa-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="week-trends-full container">
        <div class="week-trends">
            <h6>Week trends</h6>
            <hr />
            <div class="week-trends-containers">
                <div class="week-trends-component">
                    <div class="poster">
                        <img src="~/img/banshee.jpg">
                    </div>
                    <div class="poster">
                        <img src="~/img/eternal-sunshine.jpg">
                    </div>
                    <div class="poster">
                        <img src="~/img/menu.jpg">
                    </div>
                    <div class="poster">
                        <img src="~/img/western-front.jpg">
                    </div>
                    <div class="poster">
                        <img src="~/img/taxidriver.jpg">
                    </div>
                    <div class="poster">
                        <img src="~/img/everything-everywhere.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="questions-full container">
        <div class="questions">
            <h6>Frequently asked questions</h6>
            <hr />
            <div class="questions-containers">
                <div class="questions-component">
                    <div class="text">
                        <p>Can I find recommendations for viewing?</p>
                    </div>
                    <div class="icon-right">
                        <span class="icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div class="questions-component">
                    <div class="text">
                        <p>Is it possible to use the website as a streaming platform?</p>
                    </div>
                    <div class="icon-right">
                        <span class="icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div class="questions-component">
                    <div class="text">
                        <p>Can this website be considered a social network?</p>
                    </div>
                    <div class="icon-right">
                        <span class="icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                </div>
                <div class="questions-component">
                    <div class="text">
                        <p>Can I import/export my history of watched movies?</p>
                    </div>
                    <div class="icon-right">
                        <span class="icon">
                            <i class="fa-solid fa-angle-down"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="if-decided-full container">
        <div class="if-decided-component">
            <div class="text">
                <h1>Have you decided?</h1>
                <br>
                <p>Don't waste time - become a part of our community now!</p>
            </div>
            <div class="btn-component">
                <button class="btn-reg">
                    <a asp-area="Identity" asp-page="/Account/Register" class="link">
                        <h3>Register</h3>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="footer-full container">
        <div class="footer">
            <hr />
            <div class="footer-containers">
                <div class="footer-component">
                    <div class="text">
                        <h1>tracker</h1>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-discord"></i>
                    </div>
                </div>
                <div class="footer-component">
                    <div class="text">
                        <a class="link text-decoration-none"><p>Support the project</p></a>
                    </div>
                    <div class="text">
                        <p>Need help? tracker.help@gmail.com</p>
                    </div>
                </div>
                <div class="footer-bottom-component">
                    <div class="text">
                        <p>© 2023 tracker. Film data by TMDB.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/78efb955e0.js"></script>
</body>
</html>