@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/Account/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/css/common/authentication/login.css" />
}

<div class="log-form-container container">
    <div class="log-form">
        <form id="account" method="post">
            <h3>Login</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Username" class="form-label-btn">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label-btn">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label" >
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Remember your data?
                </label>
            </div>
            <div class="btn-log-in-container">
                <button class="btn-log-in" id="login-submit" type="submit">Login</button>
            </div>

            <hr />
            <div>
                <p>
                    Don't have an account yet? <a asp-page="./Register" style="color:#FCA311">Register now!</a>
                </p>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
