@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
body, html {
  background-color: #050505;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

h1, h2, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #ffffff;
  margin: 0;
  z-index: 5;
}

hr {
  border: 1px solid #999999;
  height: 1px;
}

.content {
  height: 100vh;
  z-index: 2;
}

.main {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.main .background-photo {
  position: absolute;
  display: inline-block;
  width: 100%;
  z-index: 0;
}
.main .background-photo img {
  height: auto;
  width: 100%;
}
.main .background-photo:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 0;
  background: linear-gradient(0, #050505, rgba(5, 5, 5, 0.3));
}
.main .title-container {
  z-index: 2;
}
.main .title-container .title-text-main {
  margin-top: 20%;
  position: relative;
}
.main .title-container .title-text-main h1 {
  z-index: 2;
}
.main .title-container .title-text-main .title-h6-text {
  font-family: "Merriweather", serif;
  margin-top: 10px;
  color: #999999;
}
.main .movie-list-full {
  margin-top: 100px;
  z-index: 1;
}
.main .movie-list-full .movie-list {
  position: relative;
}
.main .movie-list-full .movie-list h6 {
  z-index: 5;
  color: #999999;
  margin-bottom: -15px;
}
.main .movie-list-full .movie-list .movie-list-containers .movie-list-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster {
  z-index: 2;
  flex-basis: 20%;
}
.main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #999999;
}

@media only screen and (max-width: 1200px) {
  .main {
    background-size: 100% auto;
  }
}
@media only screen and (max-width: 992px) {
  .main .movie-list-full {
    margin-top: 100px;
  }
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component {
    flex-wrap: wrap;
  }
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster {
    flex-basis: auto;
    max-width: 22%;
    max-height: 22%;
  }
}
@media only screen and (max-width: 576px) {
  .main .title-container .title-text-main h1 {
    font-size: 24px;
  }
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component {
    flex-wrap: wrap;
  }
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster {
    flex-basis: auto;
    max-width: 30%;
    max-height: 30%;
  }
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster-last {
    display: none;
  }
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster-last {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .main .movie-list-full .movie-list .movie-list-containers .movie-list-component .poster {
    max-width: 46%;
    max-height: 46%;
  }
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
