body, html {
    background-color: #050505;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin: 0;
}

h1, h2, h4, h5, h6 {
    font-family: "Merriweather", serif;
    color: #ffffff;
    margin: 0;
}

hr {
    border: 1px solid #999999;
    height: 1px;
}

.content {
    height: 100vh;
    z-index: 2;
}

.main {
    width: 100%;
    min-height: 100vh;
    z-index: 1;

    .main-blocks {
        z-index: 1;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "user-info migration migration" "fav-movies fav-movies statistic" "recent-movies recent-movies followers";
        grid-gap: 40px;

        .user-info {
            margin: 80px 0 40px 0;
            grid-area: user-info;
            display: flex;
            justify-content: flex-start;

            .img-block {
                margin-right: 30px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }

            .text-info-block {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .username {
                    font-size: 36px;
                }

                .btn-component {
                    .btn-settings {
                        border-radius: 10px;
                        border: none;
                        background: #434343;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px;

                        a {
                            text-align: center;
                        }

                        a h3 {
                            color: white;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .migration {
            grid-area: migration;
        }

        .fav-movies {
            grid-area: fav-movies;
        }

        .statistic {
            grid-area: statistic;
            /*width: 50%;*/

            .topbar-text {
                h6 {
                    color: #999999;
                    margin-bottom: -15px;
                }
            }

            .statistic-full {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                /*flex-basis: 25%;*/
                flex-wrap: wrap;

                .statistic-block {
                    width:50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin:10px 0;

                    h2 {
                        font-size: 40px;
                    }

                    h4 {
                        font-size: 20px;
                        color: #999999;
                    }
                }
            }
        }

        .recent-movies {
            grid-area: recent-movies;
        }

        .followers {
            grid-area: followers;

            .topbar-text {
                h6 {
                    color: #999999;
                    margin-bottom: -15px;
                }
            }
        }
    }

    .movie-list-full {
        z-index: 1;

        .movie-list {
            .topbar-text {
                display: flex;
                justify-content: space-between;

                h6 {
                    color: #999999;
                    margin-bottom: -15px;
                }
            }


            .movie-list-containers {
                .movie-list-component {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;

                    .poster {   
                        flex-basis: 25%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            border: 1px solid #999999;
                        }
                    }
                }
            }
        }
    }
    //1200-992-768-576-450-375
    @media only screen and (max-width: 1200px) {
        .main {
            background-size: 100% auto;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .main {
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .main {
        }
    }

    @media only screen and (max-width: 992px) {
    }

    @media only screen and (min-width: 576px) and (max-width: 768px) {
    }

    @media only screen and (max-width: 576px) {
    }

    @media only screen and (min-width: 450px) and (max-width: 576px) {
    }

    @media only screen and (max-width: 450px) {
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        margin: 0;
    }

    a:link {
        color: #ffffff;
        text-decoration: none;
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}